@using MongoMvc.Model
@model IEnumerable<Discipline>


<h3>@GetCourse(Model.FirstOrDefault().Course)</h3>

@{   
    int identity = 1;    
} 
@Html.ActionLink("<- Назад до головної","index")
<hr/>
<div class="row">
    <div class="col-md-6">
        <h4>Осінній семестр</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        
                    </th>
                    <th>
                        Назва
                    </th>
                    <th>
                        Тип
                    </th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.YearPart == YearPart.Autumn)
                    {
                        <tr>
                            <td>
                                @identity.
                                @{ identity++; }
                            </td>
                            <td>
                                @Html.ActionLink(item.Name, "Discipline", new { id = item.Id })
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.ControlType)
                            </td>
                        </tr>
                     }
                 }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h4>Весняний семестр</h4>
        @{ identity = 1; }
        <table class="table">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Назва
                    </th>
                    <th>
                        Тип
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.YearPart == YearPart.Spring)
                    {
                        <tr>
                            <td>
                                @identity.
                                @{ identity++; }
                            </td>
                            <td>
                                @Html.ActionLink(item.Name, "Discipline", new { id = item.Id })
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.ControlType)
                            </td>
                        </tr>
                     }
                 }
            </tbody>
        </table>
    </div>
</div>  

        


@*helper not supported by ASP.NET Core*@
@functions {    
    public string GetCourse(int course)
    {
        switch (course)
        {
            case 1:
                return "1 Курс";

            case 2:
                return "2 Курс";

            case 3:
                return "3 Курс";

            case 4:
                return "4 Курс";

            case 5:
                return "Математичне і комп'ютерне моделювання";

            case 6:
                return "Математичне моделювання мікро- і нано систем";

            case 7:
                return "Обчислювальна механіка";

            case 8:
                return "Комп'ютерні науки та інформаційні технології";

            default: return "Невідомо";
        }
    }
}