@model MongoMvc.Model.Discipline
@{
    ViewBag.Title = "Видалити - Методичне забезпечення ПМ";
}

<h3>Видалити цю дисципліну?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <div class="row">        
            <div class="col-md-12 myBorders">
                <ul>                    
                    <li><b>Тип модуля:</b> @GetModuleType(Model.ModuleType)</li>
                    <li><b>Обсяг модуля:</b> @Model.ModuleDescr</li>
                    <li>
                        <b>Лектори:</b> <ul>
                            @foreach (var lc in Model.Lectors)
                            {
                                <li>@lc.Name &nbsp @lc.Descr</li>
                            }
                        </ul>
                    </li>
                    <li><b>Семестровий контроль:</b> @GetControlType(Model.ControlType)</li>
                    <li><b>Посібники, підручники, тексти лекцій:</b> <ol>@Html.Raw(Model.Books)</ol></li>
                    <li><b>Методичні вказівки:</b> <ol>@Html.Raw(Model.Instructions)</ol></li>
                    <li><b>НМЕК:</b> <ol>@Html.Raw(Model.HMEK)</ol></li>
                    <li><b>ВНС кафедри, мережевий диск:</b> <ol>@Html.Raw(Model.VNS)</ol></li>                                     
                </ul>
                <sub>@Model.UpdatedOn.ToString("d")</sub>  
            </div>        
    </div>

    @using (Html.BeginForm())
    {       
        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-danger" /> |
            @Html.ActionLink("Назад", "Read", "Home")
        </div>
    }
</div>

@*helper not supported by ASP.NET Core*@
@functions {
    public string GetControlType(MongoMvc.Model.ControlType ct)
    {
        switch (ct)
        {
            case MongoMvc.Model.ControlType.Exam:
                return "Екзамен";
                break;
            case MongoMvc.Model.ControlType.Zalik:
                return "Залік";
                break;
            default: return "Невідомо";
        }
    }
    public string GetModuleType(MongoMvc.Model.ModuleType mt)
    {
        switch (mt)
        {
            case MongoMvc.Model.ModuleType.Required:
                return "Обов'язковий";
                break;
            case MongoMvc.Model.ModuleType.NotRequired:
                return "Необов'язковий";
                break;
            default: return "Невідомо";
        }
    }
}
