@{
    ViewData["Title"] = Model.Name;
}

@model MongoMvc.Model.Discipline


<hr/>
<p>
    @Html.ActionLink("<- Повернутись до усіх дисциплін", "Read")    
</p>
<p>
    @Html.ActionLink("Перейти до цього курсу", "Course", new { id = Model.Course })
</p>
<div class="row">           
        <div class="col-md-12 myBorders">  
            <h3>@Model.Name</h3>          
            <ul>
                <li><b>Курс/Спеціалізація:</b> @GetCourse(Model.Course)</li>
                <li><b>Семестр:</b> @GetYearPart(Model.YearPart)</li>
                <li><b>Тип модуля:</b> @GetModuleType(Model.ModuleType)</li>
                <li><b>Обсяг модуля:</b> @Model.ModuleDescr</li>
                <li>
                    <b>Лектори:</b> <ul>
                        @foreach (var lc in Model.Lectors)
                        {
                            <li>@lc.Name - @lc.Descr</li>
                        }
                    </ul>
                </li>
                <li><b>Семестровий контроль:</b> @GetControlType(Model.ControlType)</li>
                <li><b>Посібники, підручники, тексти лекцій:</b> <ol>@Html.Raw(Model.Books)</ol></li>
                <li><b>Методичні вказівки</b> <i>(ауд. 226а, &#8547 н.к.):</i> <ol>@Html.Raw(Model.Instructions)</ol></li>
                <li><b>НМЕК:</b> <ol>@Html.Raw(Model.HMEK)</ol></li>
                <li><b>ВНС кафедри, мережевий диск:</b> <ol>@Html.Raw(Model.VNS)</ol></li>
            </ul>            
            <sub>@Model.UpdatedOn.ToString("d")</sub>                   
        </div>  
</div>

@*helper not supported by ASP.NET Core*@
@functions {
    public string GetControlType(MongoMvc.Model.ControlType ct)
    {
        switch (ct)
        {
            case MongoMvc.Model.ControlType.Exam:
                return "Екзамен";
                break;
            case MongoMvc.Model.ControlType.Zalik:
                return "Залік";
                break;
            default: return "Невідомо";
        }
    }
    public string GetModuleType(MongoMvc.Model.ModuleType mt)
    {
        switch (mt)
        {
            case MongoMvc.Model.ModuleType.Required:
                return "Обов'язковий";
                break;
            case MongoMvc.Model.ModuleType.NotRequired:
                return "Вибірковий";
                break;
            default: return "Невідомо";
        }
    }
    public string GetYearPart(MongoMvc.Model.YearPart yp)
    {
        switch (yp)
        {
            case MongoMvc.Model.YearPart.Autumn:
                return "Осінній";
                break;
            case MongoMvc.Model.YearPart.Spring:
                return "Весняний";
                break;
            default: return "Невідомо";
        }
    }
    public string GetCourse(int course)
    {
        switch (course)
        {
            case 1:
                return "1 Курс";

            case 2:
                return "2 Курс";

            case 3:
                return "3 Курс";

            case 4:
                return "4 Курс";

            case 5:
                return "Математичне і комп'ютерне моделювання";

            case 6:
                return "Математичне моделювання мікро- і нано систем";

            case 7:
                return "Обчислювальна механіка";

            case 8:
                return "Комп'ютерні науки та інформаційні технології";

            default: return "Невідомо";
        }
    }
}