@{
    ViewData["Title"] = "Усі записи";
}

@model IEnumerable<MongoMvc.Model.Discipline>


<h2>@ViewData["Title"].</h2>
    
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <ul>                
                <h3>@item.Name</h3>
                <li><b>Тип модуля:</b> @GetModuleType(item.ModuleType)</li>
                <li><b>Обсяг модуля:</b> @item.ModuleDescr</li>
                <li>
                    <b>Лектори:</b> <ul>
                        @foreach (var lc in item.Lectors)
                        {
                            <li>@lc.Name &nbsp @lc.Descr</li>
                        }
                    </ul>
                </li>
                <li><b>Семестровий контроль:</b> @GetControlType(item.ControlType)</li>
                <li><b>Посібники, підручники, тексти лекцій:</b> <ol>@Html.Raw(item.Books)</ol></li>
                <li><b>Методичні вказівки:</b> <ol>@Html.Raw(item.Instructions)</ol></li>
                <li><b>НМЕК:</b> <ol>@Html.Raw(item.HMEK)</ol></li>
                <li><b>ВНС кафедри, мережевий диск:</b> <ol>@Html.Raw(item.VNS)</ol></li>
                <sub>@item.UpdatedOn.ToString("d")</sub>                
            </ul>
        </div>
    }
</div>

        


@*helper not supported by ASP.NET Core*@
@functions {
    public string GetControlType(MongoMvc.Model.ControlType ct)
    {
        switch (ct)
        {
            case MongoMvc.Model.ControlType.Exam:
                return "Екзамен";
                break;
            case MongoMvc.Model.ControlType.Zalik:
                return "Залік";
                break;
            default: return "Невідомо";
        }
    }
    public string GetModuleType(MongoMvc.Model.ModuleType mt)
    {
        switch (mt)
        {
            case MongoMvc.Model.ModuleType.Required:
                return "Обов'язковий";
                break;
            case MongoMvc.Model.ModuleType.NotRequired:
                return "Необов'язковий";
                break;
            default: return "Невідомо";
        }
    }
}